# [Python: Визуализация данных](https://ru.hexlet.io/courses/python-data-visualization)

## [Испытания](https://ru.hexlet.io/courses/python-data-visualization#challenges)

### [Глобальное потепление](https://ru.hexlet.io/challenges/python_data_visualization_climate_exercise)

В этом упражнении находится датасет со средними годовыми температурами за последние 100 лет. Вам предстоит побыть немного метеорологами и понаблюдать за изменением климата

* Подготовьте датафрейм. Данные для анализа находятся в файле temperatures.csv

* Напишите функцию get_temperatures(), которая при помощи Seaborn построит график средних годовых температур за все время наблюдения. Добавьте график скользящего среднего с окном 10, чтобы сгладить шумы от колебаний и сделайте его красным. Добавьте нужные подписи к графику

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [12]:
df = pd.read_csv('data/temperatures.csv')
df.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC
0,1901,22.40,24.14,29.07,31.91,33.41,33.18,31.21,30.39,30.47,29.97,27.31,24.49,28.96,23.27,31.46,31.27,27.25
1,1902,24.93,26.58,29.77,31.78,33.73,32.91,30.92,30.73,29.80,29.12,26.31,24.04,29.22,25.75,31.76,31.09,26.49
2,1903,23.44,25.03,27.83,31.39,32.91,33.00,31.34,29.98,29.85,29.04,26.08,23.65,28.47,24.24,30.71,30.92,26.26
3,1904,22.50,24.73,28.21,32.02,32.64,32.07,30.36,30.09,30.04,29.20,26.36,23.63,28.49,23.62,30.95,30.66,26.40
4,1905,22.00,22.83,26.68,30.01,33.32,33.25,31.44,30.68,30.12,30.67,27.52,23.82,28.30,22.25,30.00,31.33,26.57

In [16]:
df.iloc[0][]

YEAR       1901.00
JAN          22.40
FEB          24.14
MAR          29.07
APR          31.91
MAY          33.41
JUN          33.18
JUL          31.21
AUG          30.39
SEP          30.47
OCT          29.97
NOV          27.31
DEC          24.49
ANNUAL       28.96
JAN-FEB      23.27
MAR-MAY      31.46
JUN-SEP      31.27
OCT-DEC      27.25
Name: 0, dtype: float64

In [24]:
first = df.loc[0, 'JAN':'DEC']
first.mean()

28.995833333333334